div.nameList {
    display: flex;
}

div.nameInputs {
    flex: 50%;
}

div.names {
    flex: 50%;
}

label {
    padding-right: 1em;
}

input + label {
    padding-left: 3em;
}

button {
    margin: 10px;
}